<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Home</title>

    <script type="text/javascript" src="{{ STATIC_URL }}compiler.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />

</head>

<body>
<!-- HEADER -->
<div id="headerID" class="rounded-corners gradiant">
    <div id="titleID" class="gradient"> Cloud 10 </div>
    <div id="sloganID"> code everywhere! </div>
</div>

<!-- MAIN MENU -->
<div id="mainMenuID" class="rounded-corners inner-shadow gradiant">
    <div class="buttons">
        <ul>
            <li><a href="/home" class="main_menu_item rounded-corners">HOME</a></li>
            <li><a href="/compiler" class="main_menu_item rounded-corners">COMPILER</a></li>
            <li><a href="/testprogram" class="main_menu_item rounded-corners">TEST PROG.</a></li>
            <li><a href="/shell" class="main_menu_item rounded-corners">SHELL</a></li>
            <li><a href="/ide" class="main_menu_item rounded-corners">IDE</a></li>
            <li><a href="/feedback" class="main_menu_item rounded-corners">FEEDBACK</a></li>
            <li><a href="/about" class="main_menu_item rounded-corners">ABOUT</a></li>
        </ul>
    </div>
</div>

<!-- BODY -->
<div id="bodyID" class="rounded-corners inner-shadow">
    <h3>Team members:</h3>
    <ul>
       <li>Amr Mahdi (SC)</li>
       <li>Amr AbdulRahman (SC)</li>
       <li>Nora Youssef (CS)</li>
       <li>Omar Saber (SC)</li>
       
    </ul>

    <br/>
    <h3>Supervisors:</h3>
    <ul>
        <li>Dr.A.Gawesh</li>
        <li>TA.Ramy Medhat</li>
    </ul>

    <br/>
    <h3>Brief description:</h3>
    A lot of challenges have faced any start-up and caused a lot of problems,
    like high cost (for buying servers, licenses,..), time and effort wasted to setup
    the environment and others. Because of these problems, many solutions have been
    raised to solve these problems. Now we can hire servers, Source Control Servers
    and deploy on the Cloud, the only missing part is to "DEVELOP ON THE CLOUD" that's
    what we aim for. Our objective is to build a platform that provides a full development
    system on the Cloud, containing
    <ul>
        <li>Cloud IDE.</li>
        <li>Source Control Management.</li>
        <li>Deployment functionalities.</li>
    </ul>
    Initially Python is supported, with Django framework.

    <br/><br/>
    <h3>Contact Us</h3>
    <table>
        <tr>
            <td style="text-decoration: underline">Phone:</td><td>(+2)01067478705</td>
        </tr>
        <tr>
            <td style="text-decoration: underline">Email:</td><td>cloud-geeks@googlegroups.com</td>
        </tr>

    </table>

</div>

<!-- FOOTER -->
<div id="footerID" class="gradiant rounded-corners" style="text-decoration: none;">
    <p> copyrights @ <a style="color: black;" href="http://cloudide.wordpress.com/">Cloud Geeks</a> </p>
</div>


</body>

</html>